# Witmotion HWT901B
ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", KERNEL=="ttyUSB*", SYMLINK+="hwt901b" MODE="0777"

# U-Blox AG 
ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", KERNEL=="ttyACM*", SYMLINK+="skyhub-gps" MODE="0777"
ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", KERNEL=="ttyACM*", SYMLINK+="skyhub-gps" MODE="0777"

# QinHeng Electronics HL-340 USB-Serial adapter (Utlimate GSP USB)
ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", KERNEL=="ttyUSB*", SYMLINK+="skyhub-gps" MODE="0777"

# Prolific Technology, Inc. PL2303 Serial Port (Ultimate USB with Serial Adapter)
ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", KERNEL=="ttyUSB*", SYMLINK+="skyhub-gps" MODE="0777"
